*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.scroll-watcher{
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: lime;
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear ;
    animation-timeline: scroll() ;
    /* scroll(x), scroll(y) */
}

@keyframes scroll-watcher {
    to {
        scale: 1 1;
    }
}

main{
    height: auto;
    width: auto;
}

.page-1{
    width: 100vw;
    height: 50vh;
    background-color: rgb(130, 130, 231) ;
    display: flex;
    gap: 1rem;

    

}

.page-2{
    display: flex;
    gap: 1rem;
    width: 100vw;
    height: 50vh;
    background-color: rgb(112, 212, 212);

}

.page-3{
    display: flex;
    gap: 1rem;
    width: 100vw;
    height: 50vh;
    background-color: bisque;

}

.page-4{
    display: flex;
    gap: 1rem;
    width: 100vw;
    height: 50vh;
    background-color: rgb(233, 157, 243);

}

.page-5{
    display: flex;
    gap: 1rem;
    width: 100vw;
    height: 50vh;
    background-color: rgb(130, 136, 146);

}
